In [1]:
# import dependencies
import pandas as pd
import requests
import json

In [2]:
# create base url
base_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/analytics/GetInjurySeverityCounts?"

# store parameters
fromYear = 2015
toYear = 2015

# build partial query url
partial_url = f"{base_url}fromCaseYear={fromYear}&toCaseYear={toYear}"

In [3]:
# set up empty lists to store data
state_ids = []
total_fatals = []

# run query 50 times, changing 'state=' to pull data for all 50 states
for n in range(1, 51):
    query_url = f"{partial_url}&state={n}&format=json"
    
    try:
        print(f"Querying state {n}...")
        response = requests.get(query_url).json()
        state_ids.append(n)
        total_fatals.append(response["Results"][0][0]["TotalFatalCounts"])
        
    except:
        print(f"State {n} not found. Trying next state...")
        total_fatals.append(None)

Querying state 1...
Querying state 2...
Querying state 3...
State 3 not found. Trying next state...
Querying state 4...
Querying state 5...
Querying state 6...
Querying state 7...
State 7 not found. Trying next state...
Querying state 8...
Querying state 9...
Querying state 10...
Querying state 11...
Querying state 12...
Querying state 13...
Querying state 14...
State 14 not found. Trying next state...
Querying state 15...
Querying state 16...
Querying state 17...
Querying state 18...
Querying state 19...
Querying state 20...
Querying state 21...
Querying state 22...
Querying state 23...
Querying state 24...
Querying state 25...
Querying state 26...
Querying state 27...
Querying state 28...
Querying state 29...
Querying state 30...
Querying state 31...
Querying state 32...
Querying state 33...
Querying state 34...
Querying state 35...
Querying state 36...
Querying state 37...
Querying state 38...
Querying state 39...
Querying state 40...
Querying state 41...
Querying state 42...
Querying state 43...
Querying state 44...
Querying state 45...
Querying state 46...
Querying state 47...
Querying state 48...
Querying state 49...
Querying state 50...

In [4]:
# create dictionary from lists
accident_dict = {
    "state_id": state_ids,
    "total_fatalaties": total_fatals
}

accidentData = pd.DataFrame(accident_dict)

In [5]:
# read in binge drinking data
binge_drinking = pd.read_csv("Resources/BingeDrinkingPrevalence.csv")

# preview dataset
binge_drinking.head()

  State  Percentage
0    AL        12.2
1    AK        20.0
2    AZ        15.0
3    AR        15.2
4    CA        16.7

In [6]:
# read in state gender distribution data
gender_dist = pd.read_csv("Resources/StatePop_GenderDist.csv")

# preview dataset
gender_dist.head()

        Location       Male     Female      Total  Footnotes
0  United States  152799800  159978200  312777900        1.0
1        Alabama    2276300    2453800    4730100        NaN
2         Alaska     363500     344000     707500        NaN
3        Arizona    3260100    3395100    6655100        NaN
4       Arkansas    1401000    1481300    2882300        NaN